

.container{
    margin-top: 100px;
}
.btn-primary{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    border-color: #000;
    margin-bottom: 10px;
}
.lg-image img{
    margin-bottom: 15px;
}
.btn-primary:hover{
    background-color: rgb(100, 83, 6);
    color: #fff;
    border-color: rgb(100, 83, 6);
}